/* CSS RESETS */

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, p {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ol {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2 {
  text-wrap: balance;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button {
  font-family: inherit;
  font-size: inherit;
}

/* For accessibility purposes only */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

/* FONTS */

/* overpass-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/overpass-v19-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/overpass-v19-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* overpass-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/overpass-v19-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* CUSTOM VARIABLES */

:root {

  /* COLORS */

  --clr-white: hsl(0, 100%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-grey-950: hsl(216, 12%, 8%);
  --clr-grey-900: hsl(213, 19%, 18%);
  --clr-grey-500: hsl(217, 12%, 63%);
  --clr-orange-500: hsl(25, 97%, 53%);
  --clr-red-900: hsl(0, 100%, 64%);
  --gradient-1: radial-gradient(hsl(215, 20%, 17%), hsl(216, 24%, 12%));

  /* TYPOGRAPHY */

  --ff-main: "Overpass", sans-serif;
  --fs-body: clamp(0.875rem, 0.8154rem + 0.2545vw, 0.9375rem);

  /* SPACINGS */

  --space-0: 0rem;
  --space-100: 0.5rem;
  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-400: 2rem;
  --space-500: 2.5rem;
  --space-1300: 6.5rem;
  --space-1700: 8.5rem;
}

body {
  font-family: var(--ff-main);
  font-size: var(--fs-body);
  line-height: 1.6;
  color: var(--clr-grey-500);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-grey-950);
  min-height: 100vh;
  padding: var(--space-300);
}

.form {
  background-image: var(--gradient-1);
  border-radius: clamp(0.9375rem, 0.0429rem + 3.8168vw, 1.875rem);
  max-width: 25.75rem;
  padding-inline: var(--space-300);
  padding-block: clamp(var(--space-300), 1.0229rem + 2.0356vw, var(--space-400));
}

.form__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(2.5rem, 2.0229rem + 2.0356vw, 3rem);
  height: clamp(2.5rem, 2.0229rem + 2.0356vw, 3rem);
  background-color: var(--clr-grey-900);
  border-radius: 50%;
  margin-block-end: clamp(var(--space-300), 1.0229rem + 2.0356vw, var(--space-400));
}

.form__fieldset {
  border: unset;
}

.form__title {
  font-size: clamp(1.5rem, 1.2615rem + 1.0178vw, 1.75rem);
  font-weight: 700;
  line-height: 1.25;
  color: var(--clr-white);
  margin-block-end: var(--space-200);
}

.form__description {
  margin-block-end: var(--space-200);
}

.form__error {
  color: var(--clr-red-900);
  margin-block-end: var(--space-100);
}

.form__ratings {
  display: flex;
  justify-content: space-between;
  margin-block-end: clamp(var(--space-300), 1.0229rem + 2.0356vw, var(--space-400));
}

.form__rate-number {
  font-size: clamp(0.875rem, 0.7557rem + 0.5089vw, 1rem);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(2.625rem, 2.0883rem + 2.2901vw, 3.1875rem);
  height: clamp(2.625rem, 2.0883rem + 2.2901vw, 3.1875rem);
  background-color: var(--clr-grey-900);
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 300ms ease, color 300ms ease;
}

.form__rate-number:hover {
  color: var(--clr-grey-900);
  background-color: var(--clr-orange-500); 
}

.form__rate-number:has(+ .form__rate-input:checked) {
  background-color: var(--clr-white);
  color: var(--clr-grey-900);
}

.form__rate-number:has(+ .form__rate-input:focus-visible:not(:checked)) {
  outline: 1px solid var(--clr-orange-500);
  outline-offset: 2px;
  background-color: var(--clr-orange-500);
  color: var(--clr-grey-900);
}

.form__rate-number:has(+ .form__rate-input:focus-visible:checked) {
  outline: 1px solid var(--clr-white);
  outline-offset: 2px;
}

.form__submit {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: 0.134em;
  text-transform: uppercase;
  color: var(--clr-grey-950);
  background-color: var(--clr-orange-500);
  border: transparent;
  border-radius: 1.406rem;
  padding: var(--space-200);
  width: 100%;
  cursor: pointer;
  transition: background-color 300ms ease, color 300ms ease;
}

.form__submit:hover {
  background-color: var(--clr-white);
  color: var(--clr-grey-950);
}

.form__submit:focus-visible {
  outline: 1px solid var(--clr-orange-500);
  outline-offset: 2px;
}

.confirm {
  background-image: var(--gradient-1);
  border-radius: clamp(0.9375rem, 0.0429rem + 3.8168vw, 1.875rem);
  max-width: 25.74rem;
  padding-inline: clamp(var(--space-300), 1.0229rem + 2.0356vw, var(--space-400));
  padding-block: clamp(var(--space-400), 1.5229rem + 2.0356vw, var(--space-500));
  text-align: center;
}

.confirm__img {
  margin: 0 auto;
  margin-block-end: clamp(var(--space-300), 1.0229rem + 2.0356vw, var(--space-400));
}

.confirm__rating {
  display: inline-block;
  color: var(--clr-orange-500);
  padding: 0.375rem var(--space-200);
  background-color: var(--clr-grey-900);
  border-radius: 1.406rem;
  margin-block-end: clamp(var(--space-300), 1.0229rem + 2.0356vw, var(--space-400));
}

.confirm__title {
  font-size: clamp(1.5rem, 1.2615rem + 1.0178vw, 1.75rem);
  font-weight: 700;
  line-height: 1.25;
  color: var(--clr-white);
  margin-block-end: var(--space-200);
}

.hidden {
  display: none;
}